<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ngx-smart-canvas wrapper</a>
  </div>
</nav>
  

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="alert alert-success " role="alert">{{lastMessage}}</div>
    </div>
    <div class="col-md-5 border">
      <lib-ngx-smart-canvas [componentId]="'A'"></lib-ngx-smart-canvas>
    </div>
    <div class="col-md-5">
      <lib-ngx-smart-canvas [componentId]="'B'" 
          [settings]="{zoomable: true, minimumZoom: 0.5, maximumZoom: 2, canvasWidth: 1000, canvasHeight: 1000}">
      </lib-ngx-smart-canvas>
    </div>

  </div>
</div>

